* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.header {
    background-image: url('./images/banner/banner2.png');
    height: 809px;
}

.mission-detail {
    /* padding: 216px 885px; */
    padding-top: 216px;
    margin-right: 230px;
}

.header-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;

    color: #151414;
    /* padding: 216px 885px; */

}

.header-description {
    text-align: right;
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;


}

.header-btn {
    text-align: right;
}

.contact-btn {
    padding: 21px 26px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    margin-top: 70px;
    background: #F15B22;
    color: #FFFFFF;
    border-radius: 5px;
    border: 0;
}

.identify-failure-problem-section {
    display: flex;
    justify-content: space-around;
    padding: 130px 206px;
    max-width: 1072px;
    height: 724px;
    /* text-align: center; */
}

.img-div {
    margin-top: 130px;
}

.person-img img {
    width: 569px;
    height: 723.3px;
}

.failure-problems {
    margin-top: 370px;
}

.title-for-failure-reason {
    font-size: 40px;
    color: #151414;
}

.description-for-failure-reason {

    font-size: 16px;
    /* line-height: 26px; */
    color: #444343;
    margin-top: 24px;

}

.reason {
    margin-top: 16px;

    color: #444343;
}

.reason i {
    color: #F15B22;
}

.plan-container {
    padding: 130px 230px;
}

.plan-header {
    font-weight: 700;
    font-size: 40px;

    color: #151414;
    text-align: center;
}

.my-plan {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

}

.plan-and-start img {
    margin-left: 5%;
}

.lazy-img {
    width: 92.96px;
    height: 92.96px;
}

.plan-title {
    font-size: 30px;
    margin-top: 24px;
    /* text-align: center; */

    color: #151414;
}

.plan-description {
    margin-top: 16px;
    font-size: 20px;


    color: #737272;

}

.communicate-section {
    margin-top: -30px;
    padding: 0 230px 0 230px;
    /* background-image: url('./images/watch.png');] */
    /* background-image: linear-gradient(to right,#dce2c8,#a8dcd1,#65def1);? */

    /* background-image: linear-gradient(to bottom, rgba(117,19,93,0.73),rgba(245,246,252,0.52)),url('./images/watch.png'); */
    /* background-image: linear-gradient(to right,
            #6491738c, #dbd5a498, rgba(215, 145, 14, 0.61), #6491738c, 
            #999966), url('./images/watch.png'); */
            /* background-image: linear-gradient(to right,
            #11b3478c, #b9a51498, rgba(215, 145, 14, 0.61), #6491738c, 
            #999966), url('./images/watch.png'); */
            background-image: linear-gradient(to right,
            #3ca55c9e,  hwb(55 29% 29% / 0.584),rgba(106, 106, 228, 0.763 )), url('./images/watch.png');
            /* rgba(106, 106, 228, 0.763 */
    background-position: center; 
    background-repeat: no-repeat;
    width: 640px;
    height: 300px;
    margin-left: 230px;
    /* background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0)); */
    border-radius: 8px;

}


.communicate-title-div{
   
   text-align: center;
   display: flex;
   justify-content: flex-start;
    font-size: 30px;
    color: #FFFFFF;
    /* color: #151414; */
}
.communicate-title{
    text-align: left;
    margin-top: 70px;
margin-left: -160px;

}
.call-btn{
    margin-left: -160px;
    padding: 21px 36px;
    color:#F15B22;
    background-color:#ffffff;
    border-radius: 5px;
    border: 0;
    margin-top: 24px;
    font-size: 18px;
}